REDIS_ADDR="{{ redis_exporter_params.addr | default('redis://localhost:6379') }}"
REDIS_PASSWORD="{{ redis_exporter_params.password | default('') }}"
REDIS_EXPORTER_CHECK_KEYS="{{ redis_exporter_params.exporter_check_keys | default('') }}"
REDIS_EXPORTER_CHECK_SINGLE_KEYS="{{ redis_exporter_params.check_single_keys | default('') }}"
REDIS_EXPORTER_SCRIPT="{{ redis_exporter_params.script | default('') }}"
REDIS_EXPORTER_DEBUG={{ redis_exporter_params.debug | default('false') }}
REDIS_EXPORTER_LOG_FORMAT={{ redis_exporter_params.log_format | default('txt') }}
REDIS_EXPORTER_NAMESPACE={{ redis_exporter_params.namespace | default('redis') }}
REDIS_EXPORTER_CONNECTION_TIMEOUT="{{ redis_exporter_params.connection_timeout | default('15s') }}"
REDIS_EXPORTER_WEB_LISTEN_ADDRESS="{{ redis_exporter_params.web_listen_address | default('0.0.0.0:9121') }}"
REDIS_EXPORTER_WEB_TELEMETRY_PATH="{{ redis_exporter_params.web_telemetry_path | default('/metrics') }}"
REDIS_EXPORTER_REDIS_ONLY_METRICS={{ redis_exporter_params.redis_only_metrics | default('false') }}
REDIS_EXPORTER_INCL_SYSTEM_METRICS={{ redis_exporter_params.incl_system_metrics | default('true') }}
REDIS_EXPORTER_PING_ON_CONNECT={{ redis_exporter_params.ping_on_connect | default('true') }}
REDIS_EXPORTER_IS_TILE38={{ redis_exporter_params.is_tile38 | default('false') }}
REDIS_EXPORTER_EXPORT_CLIENT_LIST={{ redis_exporter_params.export_client_list | default('false') }}
REDIS_EXPORTER_SKIP_TLS_VERIFICATION={{ redis_exporter_params.skip_tls_verification | default('') }}
REDIS_EXPORTER_TLS_CLIENT_KEY_FILE="{{ redis_exporter_params.tls_client_key_file | default('') }}"
REDIS_EXPORTER_TLS_CLIENT_CERT_FILE="{{ redis_exporter_params.tls_client_cert_file | default('') }}"
REDIS_EXPORTER_SET_CLIENT_NAME={{ redis_exporter_params.set_client_name | default('true') }}
